<a href="https://colab.research.google.com/github/FREDY129053/SkillBox_ML/blob/main/15_3_ML_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DBSCAN. Практическая работа

## Цель практической работы

Научиться строить модели кластеризации с помощью метода DBSCAN.

## Что входит в работу


- Загрузите данные и проведите разведочный анализ.
- Предположите оптимальное количество кластеров.
- Постройте модель кластеризации DBSCAN.
- Определите оптимальное количество и структуру кластеров.
- Интерпретируйте полученные результаты.

## Что оценивается

1. Выполнены все задания.
2. Сделаны выводы по результатам разведочного анализа данных.
3. Объяснены выбранные гиперпараметры модели кластеризации.
4. Сделаны выводы о количестве и структуре кластеров.
5. Сделаны выводы по результатам кластеризации.

# Задача

Имеется некоторый набор данных `gt_2015.csv` о производительности и других параметрах ветряных электростанций:
* AT — температура окружающей среды.
* PT — давление окружающей среды.
* AH — влажность окружающей среды.
* AFDP — перепад давления на воздушном фильтре.
* GTEP — давление на выходе из газовой турбины.
* TIT — температура на входе в турбину.
* TAT — температура на выходе из турбины.
* TEY — энергоотдача турбины.
* CDP — давление нагнетания компрессора.
* CO — выбросы угарного газа.
* NOX — выбросы оксидов азота.

Решите задачу кластеризации электростанций для дальнейшего совместного управления схожими электростанциями.

# Задание 1

Загрузите датасет и выполните разведочный анализ данных. Сделайте выводы о найденных закономерностях, особенностях и других свойствах данных, которые вы обнаружите.

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('gt_2015.csv')
df.head()

,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,CO,NOX
0,1.95320,1020.1,84.985,2.5304,20.116,1048.7,544.92,116.27,10.799,7.4491,113.250
1,1.21910,1020.1,87.523,2.3937,18.584,1045.5,548.50,109.18,10.347,6.4684,112.020
2,0.94915,1022.2,78.335,2.7789,22.264,1068.8,549.95,125.88,11.256,3.6335,88.147
3,1.00750,1021.7,76.942,2.8170,23.358,1075.2,549.63,132.21,11.702,3.1972,87.078
4,1.28580,1021.6,76.732,2.8377,23.483,1076.2,549.68,133.58,11.737,2.3833,82.515

In [ ]:
df.describe()

,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,CO,NOX
count,7384.000000,7384.00000,7384.000000,7384.000000,7384.000000,7384.000000,7384.000000,7384.000000,7384.000000,7384.000000,7384.000000
mean,17.225259,1014.50911,68.647464,3.598909,26.130149,1078.974689,546.642484,133.993380,12.097025,3.129986,59.890509
std,8.095783,6.89543,13.541116,0.610226,4.473737,19.762449,5.489066,16.179208,1.136601,2.234962,11.132464
min,-6.234800,989.40000,24.085000,2.368800,17.698000,1016.000000,516.040000,100.020000,9.870800,0.212800,25.905000
25%,11.073250,1009.67500,59.447250,3.117300,23.147000,1070.500000,544.747500,126.255000,11.465750,1.808175,52.399000
50%,17.456500,1014.00000,70.952000,3.538500,25.331000,1080.300000,549.720000,131.600000,11.933000,2.533400,56.838500
75%,23.684750,1018.30000,79.653750,4.194825,30.018250,1099.900000,550.030000,147.160000,13.148000,3.702550,65.093250
max,37.103000,1036.60000,96.666000,5.239500,40.716000,1100.400000,550.590000,179.500000,15.159000,41.097000,119.680000

# Задание 2

Предположите по результатам разведочного анализа данных, какие группы электростанций существуют, чем они отличаются, каково их количество.

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df_scaled = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)

In [ ]:
df_scaled.value_counts()

AT         AP         AH         AFDP       GTEP       TIT        TAT        TEY        CDP        CO         NOX
-2.898008   3.087890  -0.346041   1.127349   2.251034   1.048793  -4.945162   2.652758   2.465391  -0.406784  -0.591330    1
 0.514592  -0.247878   0.532454   1.148326   1.020883   1.063974  -0.782059   1.066665   1.142057  -0.880918  -1.058374    1
 0.512986   0.491792  -0.637691  -0.445454  -0.455388  -0.074626   0.538838  -0.311123  -0.236708  -0.552881  -1.070232    1
            0.390269   0.025076  -0.506583  -0.480648  -0.125230   0.617181  -0.369844  -0.324696  -0.528897  -1.157550    1
 0.512615  -0.059335   1.333550   0.565716  -0.208374   0.183457   0.628112  -0.094163  -0.119685  -0.579237  -0.620076    1
                                                                                                                          ..
-0.503909   2.319213   0.040438  -0.338601  -0.585266  -0.104988   0.640866  -0.233858  -0.329095   0.076970   0.102005    1
-0.504279   0.158215  -0.088881  -0.761588   0.534903  -0.206197   0.624468  -0.244366  -0.419723  -0.793797   0.097693    1
-0.504403   0.346759   1.390639   1.807471   1.391962   1.079156  -3.509484   1.815825   1.973540  -0.916447  -0.866939    1
-0.504526  -2.492995   1.146847  -0.619172  -0.608961  -0.297285   0.613537  -0.282689  -0.430281   0.282625   0.319851    1
 2.455487  -1.437152  -3.291123   1.132757   0.667910   1.033612   0.404015   0.578351   0.704759  -0.891702   0.814025    1
Name: count, Length: 7384, dtype: int64

# Задание 3

Постройте модель кластеризации DBSCAN. Подберите оптимальные гиперпараметры, руководствуясь как результатами сеточного поиска, так и результатами анализа данных в предыдущих заданиях.

In [ ]:
from sklearn.cluster import DBSCAN
from sklearn.metrics import silhouette_score

model = DBSCAN(eps=0.75, min_samples=30).fit(df_scaled)

In [ ]:
df['labels'] = model.labels_

In [ ]:
df['labels'].value_counts()

labels
-1    2769
 0    2355
 6    1516
 5     387
 7     151
 1      96
 2      50
 3      30
 4      30
Name: count, dtype: int64

In [ ]:
silhouette_score(df_scaled, df['labels'])

-0.0016704511998551

# Задание 4

Интерпретируйте результаты кластеризации: объясните, чем схожи электростанции в каждом кластере и чем аномальные электростанции отличаются от остальных.

In [ ]:
df[df['labels'] == 0].describe()

,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,CO,NOX,labels
count,2355.000000,2355.000000,2355.000000,2355.000000,2355.000000,2355.000000,2355.000000,2355.000000,2355.000000,2355.000000,2355.000000,2355.0
mean,16.882167,1015.171932,71.796433,3.504077,24.790951,1079.688705,549.961711,132.082522,11.901870,2.492805,58.177352,0.0
std,6.574895,5.832323,11.532308,0.290941,1.560904,6.805113,0.322766,4.316486,0.327734,0.805177,7.407418,0.0
min,1.508400,1001.700000,31.625000,2.823900,21.351000,1063.200000,545.180000,121.260000,11.136000,0.310470,39.556000,0.0
25%,11.288000,1011.200000,64.259000,3.266350,23.677500,1075.100000,549.815000,129.830000,11.681500,1.872350,52.986000,0.0
50%,17.340000,1014.900000,73.789000,3.436900,24.435000,1078.200000,549.990000,130.760000,11.832000,2.291000,56.596000,0.0
75%,21.859000,1018.100000,80.958000,3.777000,25.560000,1082.650000,550.140000,133.150000,12.040000,3.141900,63.802000,0.0
max,32.620000,1034.100000,95.219000,4.112700,31.084000,1099.800000,550.590000,145.460000,12.925000,5.032600,78.451000,0.0

**Как отправить работу на проверку**

Скачайте файл с работой в материалах, откройте его через Jupyter Notebook и выполните задания. Сохраните изменения при помощи опции Save and Checkpoint на вкладке меню File или кнопки Save and Checkpoint на панели инструментов. Отправьте через форму ниже итоговый файл Jupyter Notebook (в формате .ipynb) или ссылку на него.